.list-item {
  margin: 10px;
}
.button {
  color: #7b8794;
  font-size: 15px;
  font-family: 'Bree Serif';
  background-color: transparent;
  border: none;
  outline: none;
}
.active-tab-btn {
  color: #2563eb;
  border-bottom: 2px solid #2563eb;
}
